@use "@/scss/mixins" as *;

.container {
  @include container;

  @include media-max(md) {
    max-width: 450px;
  }
}

.chatbot{
  border:none; 
  overflow:hidden; 
  border-radius:5px; 
  width:450px; 
  height:600px; 
  border: 1px solid #e2e8f1;
}